@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat"),
         url("fonts/Montserrat-Regular.woff2") format("woff2"),
         url("fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: local("Montserrat"),
         url("fonts/Montserrat-Medium.woff2") format("woff2"),
         url("fonts/Montserrat-Medium.woff") format("woff");
}

body {
    margin: 0;
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #533738;    
    background-color: #EFE6E4;
    min-width: 1230px;
    position: relative;
}

.page-wrap {
    box-sizing: border-box;
    width: 1230px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.page-header {
    height: 715px;    
    background-image: url(/img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.page-subtitle {
    margin: 0;
    font-size: 40px;
    line-height: 50px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.page-header > .page-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
    padding-top: 35px;
    padding-bottom: 170px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 20px;
}

.logo {
    position: relative;
    padding-left: 25px;
    text-transform: uppercase;
    margin-right: 90px;
}

.logo > img {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 25px;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation-list > li {
    margin-right: 26px;
}

.navigation-list > li:last-child {
    margin-bottom: 0;
}

.navigation-list > li > a {
    text-decoration: none;
    color: inherit;
    transition: 0.4s;
}

.navigation-list > li > a:hover,
.navigation-list > li > a:focus {
    color: #CC8B86;
}

.link-tel {
    text-decoration: none;
    color: inherit; 
}

.promo {
    margin-left: 95px;
}

.promo-title {
    width: 535px;
    margin: 0;
    font-size: 50px;
    line-height: 62px;
    font-weight: 400;
    margin-bottom: 25px;
}

.promo-text {
    width: 495px;
    margin: 0;
    margin-bottom: 20px;
}

.link-button {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 25px 70px;
    background-color: #CC8B86;
    transition: 0.4s;
}

.link-button:hover,
.link-button:focus {
    background-color: #533738;
    color: #FFFFFF;
}

.about {
    padding-top: 65px;
}

.about > .page-wrap {
    padding-left: 95px;
    padding-right: 95px;
}

.about-wrap {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    
}

.about-img {
    object-fit: cover;
    width: 445px;
    height: 465px;
}

.about-text {
    width: 530px;
}

.about-text > p {
    margin: 0;
    margin-bottom: 30px;
}

.statistics {
    color: #FFFFFF;
    background-color: #8D7370;
    padding-top: 95px;
    padding-bottom: 95px;
}

.statistics > .page-wrap {
    padding-left: 80px;
    padding-right: 80px;
}

.statistics-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 37px;
    font-weight: 500;
    text-transform: uppercase;
}

.statistics-list > li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statistics-list > li > span {
    font-size: 50px;
    line-height: 62px;
    margin-bottom: 8px;
}

.portfolio {
    padding-top: 65px;
    padding-bottom: 65px;
}

.portfolio .page-subtitle {
    text-align: left;
}

.portfolio-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.portfolio-list > .project {
    width: 488px;
    min-height: 451px;
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.portfolio-list > .project:nth-child(2),
.portfolio-list > .project:nth-child(3) {
    flex-grow: 1;
}

.portfolio-list > .project > a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.project1 {
    background-image: url(/img/portfolio-1.jpg);
}

.project2 {
    background-image: url(/img/portfolio-2.jpg);
}

.project3 {
    background-image: url(/img/portfolio-3.jpg);
}

.project4 {
    background-image: url(/img/portfolio-4.jpg);
}

.project-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 35px;
    background-color: rgba(100, 72, 69, 0.8);
    color: #FFFFFF;  
    opacity: 0;
    transition: 0.4s;
}

.portfolio-list > .project > a:hover > .project-info {
    opacity: 1;
}

.project-info > h3 {
    width: 270px;
    margin: 0;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    margin-bottom: 20px;
}

.project-info > p {
    margin: 0;
}

.link-more-project {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 300px;
    margin: 0 auto;
    text-decoration: none;
    color: inherit;
    margin-top: 40px;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    padding-right: 70px;
}

.link-more-project::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 61px;
    height: 16px;
    background-image: url(/img/arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.development {
    background-color: #E2C4BA;
    padding-top: 50px;
    padding-bottom: 80px;
}

.team {    
    margin-bottom: 35px; 
}

.team > .page-wrap {
    padding-left: 95px;
    padding-right: 95px;
}

.team-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.specialist {
    width: 320px;
}

.specialist-photo {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
}

.specialist-text {
    margin: 0;
}

.stages-list {
    list-style-type: none; /* Убираем исходные маркеры */
    counter-reset: num; /* Задаём имя счетчика */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.stages-list > li {
    width: 285px;
    text-align: center;
}

.stages-list > li::before {
    content: counter(num); /* Выводим число */
    counter-increment: num; /* Увеличиваем значение счётчика */
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
    background-color: #8D7370;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;       
}

.reviews {
    padding-top: 65px;
    padding-bottom: 65px;
}

.reviews > .page-wrap {
    padding-left: 95px;
    padding-right: 95px;
}

.reviews-list {
    position: relative;
    box-sizing: border-box;    
    padding-left: 100px;
    padding-right: 100px;
}

.review {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-text {
    margin: 0;
    width: 405px;
}

.review-text > p{
    margin: 0;
    margin-bottom: 30px;
}

.review-author {
    font-style: normal;

}

.review-img-list {
    display: flex;
    flex-direction: column;    
    gap: 25px;
}

.review-img {
    width: 405px;
    height: 272px;
    object-fit: cover;
}

.reviews-pagination .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;    
    top: 50%;
    transform: translateY(-50%);
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: #CC8B86;
}

.reviews-pagination .left-arrow {
    left: 0;
}

.reviews-pagination .right-arrow {
    right: 0;
}

.feedback {
    background-color: #8D7370;
    color: #FFFFFF;
}

.feedback > .page-wrap {
    display: flex;
    justify-content: space-between;
    padding-left: 95px;
}

.form {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    padding-top: 50px;
    flex-grow: 1;
    
}

.form-text {
    opacity: 0.6;
    margin-bottom: 45px;
}

.form input[type=text],
.form input[type=tel] {
    font-family: inherit;
    font-size: 18px;
    line-height: 30px;
    color: #F6EDE9;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    height: 35px;
    margin-bottom: 35px;
}

.form input::placeholder {
    font-size: 18px;
    line-height: 30px;
    color: #F6EDE9;
}

.form input[type=submit] {
    border: none;
    font: inherit;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    align-self: flex-start;
    font-size: 20px;
    line-height: 24px;
    display: inline-block;
    color: #533738;
    padding: 25px 70px;
    background-color: #CC8B86;
}

.map {
    width: 590px;
    height: 625px;
    object-fit: cover;
}

.page-footer {
    padding-top: 35px;
    padding-bottom: 35px;
}

.page-footer > .page-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer-contacts {
    display: flex;
    align-items: center;
}

.footer-contacts > .address {
    margin-left: 40px;
}